body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

div.cards {
    width: calc((100% / 2) - 2rem);
    padding: 1rem 1rem 3rem;
    background-color: rgba(0, 127, 255, .2);
    border-radius: 50px;
    margin: 2rem 1rem 0 0;
}